@charset "utf-8";

@media all and (min-width:600px) and (max-width:1199px) {
    #slider {
        width: 100%;
        height: 820px;
        background-color: #009223;
        opacity: 0.8;
        padding-top: 220px;
        position: relative;
        overflow: hidden;

    }

    #slider>.content {
        width: 1200px;
        height: 380px;
        margin: 0 auto;
        position: relative;
    }

    #slider .content h2 {
        font-family: 'Lobster', cursive;
        font-size: 108px;
        color: #ffce32;
        opacity: 0.7;
        position: absolute;
        top: -19px;
        left: 4px;
    }

    #slider .content h1 {
        position: absolute;
        top: 62px;
        left: 0;
        font-size: 59px;
        color: #ffce32;
        line-height: 67px;
        margin-left: 8px;
    }

    #slider .content span {
        font-size: 39px;
        color: #fff;
    }

    #slider img {
        position: relative;
    }

    #slider button a {
        width: 188px;
        height: 50px;
        font-size: 26px;
        float: left;
        text-align: center;
        border: solid #fff 3px;
        border-radius: 30px;
        background-color: #009223;
        color: #fff;
        position: absolute;
        bottom: 58px;
        text-decoration: none;
        line-height: 45px;
    }

    #slider button a:hover {
        color: #ffce32;
    }

    #slider .round {
        width: 100%;
        height: 1000px;
        border-radius: 48%;
        position: absolute;
        top: -180px;
        right: -180px;
        background-image: url(../img/slider.jpg);
    }

    body > section {
        width: 100%;
        height: 836px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
    }

    section .popular {
        width: 100%;
        height: 17%;

    }

    .popular h1 {
        font-size: 38px;
        margin-left: -13px;
    }

    .popular p {
        font-size: 40px;
        font-weight: bold;
        color: #ffce32;
        text-align: center;
        margin-left: -13px;
    }
    /* 버튼슬라이드 */
    #slidewrap {
        width: 100%;
        height: 470px;
        margin: 50px auto;
        position: relative;
        overflow: hidden;
    }

    .slide {
        width: 277%;
        /* margin-left: 0px; */
    }

    .slide li {
        width: 10.01%;
        height: 100%;
        float: left;
        background: rgb(199, 250, 189);
        padding: 20px;
        margin: 0 1%;
        border-radius: 0 0 60px 0;
        overflow: hidden;
    }

    /* .slide li img {width: 100%; height: 100%;} */

    #slidewrap span {
        position: absolute;
        top: 32%;
        display: block;
        font-size: 31px;
        color: #fff;
        line-height: 52px;
        background: #009223;
        cursor: pointer;
        height: 49px;
        transform: translateY(-50%);
    }

    #slidewrap2 span {
        position: absolute;
        top: 48%;
        display: block;
        font-size: 22px;
        color: #fff;
        line-height: 52px;
        background: #009223;
        cursor: pointer;
        height: 49px;
        transform: translateY(-50%);
    }

    #slidewrap span:hover,
    #slidewrap2 span:hover {
        background: #ffce32;
        color: #000;
    }

    .prev {
        left: 0;
        border-radius: 0 10px 10px 0px;
        padding: 0 8px 0 2px;
    }

    .next {
        right: 0;
        border-radius: 10px 0px 0px 10px;
        padding: 0 2px 0 8px;
    }

    .slide li button {
        font-size: 15px;
        width: 170px;
        height: 50px;
        text-align: center;
        border: solid#009223 3px;
        border-radius: 30px;
        background-color: #fff;
        width: 100%;
        height: 14%;
        flex-wrap: revert;
        float: left;
        align-items: center;
        margin-top: 12px;
    }


    .slide li button:hover {
        color: #ffce32
    }

    section .slide li img {
        display: inline-block;
        width: 100%;
        border-radius: 0 0 60px 0;
    }

    section .slide li h3 {
        text-align: center;
        height: 45px;
        font-size: 15px;
    }

    section .slide li p {
        height: 80px;
        font-size: 13px;
        margin: 2px;
    }

    section h1 {
        text-align: center;
    }



    section p {
        text-align: center;
        font-size: 15px;

    }

    /* .container {
        text-align: center;
        float: left;
        width: 100%;
      
    } */

    .container {
        text-align: center;
        float: left;
        width: 100%;
        display: flex;
        /* position: absolute; */
        display: table-column;
        /* margin: 5%; */
        /* margin-left: 33%; */
        /* margin-bottom: 10%; */
        margin: -109px 0px 115px 0px;
    }

    .container p {
        font-size: 33px;
    }

    .container h2 {
        font-size: 30px;
    }

    .container span {
        font-size: 12px;
    }

    .container button {
        font-size: 22px;
        width: 163px;
        height: 42px;
        text-align: center;
        border: solid#009223 3px;
        border-radius: 30px;
        background-color: #fff;
    }
    .container button:hover {
        color: #ffce32;
    }

    /* #dongle {
            width: 1200px;
            height: 614px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: auto;
        } */
    
        #dongle {
            width: 100%;
            
            align-items: center;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
        }
        .box {
            background-image: url(../img/circle_sandwich1.png);
            width: 55%;
            height: 504.08px;
            margin-top: -30px;
            /* margin-left: 51%; */
            position: fixed;
        }
   
    
    .explain {
        background-color: honeydew;
        width: 100%;
        height: 764px;


        display: flex;

        justify-content: center;
        align-items: center;
        position: relative;
    }

    .onion_icon {
        width: 31%;
        height: 186px;
        background-image: url(../img/onion.png);
        position: absolute;
        top: -187px;
        right: 0px;
    }

    

    .explain1 {
        width: 1200px;
        height: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;

    }

    .explain1 p {
        color: #009223;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        width: 100%;
    }

    .explain1 h2 {
        color: black;
        font-size: 50px;
        text-align: center;
        width: 100%;
        margin-bottom: 50px;
    }

    .gimg {
        width: 118px;
        height: 118px;

        margin-top: -125px;
    }

    .icon {
        width: 30%;
        height: 50%;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
    }

    .icon p {
        color: #009223;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        height: 64px;
    }

    .icon span {
        text-align: center;
        font-size: 15px;
        height: 0px;

    }

    .video video {

        width: 100%;
        height: 600px;
        margin: 0px 0px 0px 0px;
    }





    .rbox h2 {
        text-align: center;
        font-size: 40px;
        color: #009223;
    }

    #slidewrap2 {
        width: 100%;
        height: 470px;
        margin: 50px auto;
        position: relative;
        overflow: hidden;
    }

    .slide2 {
        width: 200%;
        height: 342px;
    }

    .slide2 li {
        width: 50%;
        height: 342px;
        float: left;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .slide2 p {
        text-align: center;
    }

    .review {
        width: 45%;
        height: 100%;
    }

    .slide2 h1 {
        text-align: center;
        margin-top: 100px;
        font-size: 21px;
    }

    .slide2 img {
        margin: 39px 0px -35px 16px;
    }

    .insta {
        display: flex;
        width: 100%;
    }



    .insta section {
        width: 25%;
       

        cursor: pointer;
        position: relative;
    }
    .insta img{
        width: 100%;

    }

    .instalogo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }

    .insta section:hover {
        opacity: 0.7;
    }

    .insta section:hover .instalogo {
        display: block;

    }
}