@charset "utf-8";

@media all and (max-width:599px) {
    #slider {
        width: 100%;
        height: 820px;
        background-color: #009223;
        opacity: 0.8;
        padding-top: 220px;
        position: relative;
        overflow: hidden;

    }

    #slider>.content {
        width: 1200px;
        height: 380px;
        margin: 0 auto;
        position: relative;
    }

    #slider .content h2 {
        font-family: 'Lobster', cursive;
        font-size: 75px;
        color: #ffce32;
        opacity: 0.7;
        position: absolute;
        top: 30px;
        left: 7px;
    }

    #slider .content h1 {
        position: absolute;
        top: 89px;
        left: 0;
        font-size: 40px;
        color: #ffce32;
        line-height: 51px;
    }

    #slider .content span {
        font-size: 31px;
        color: #fff;
    }

    #slider img {
        position: relative;
    }

    #slider button a {
        width: 148px;
        height: 43px;
        font-size: 20px;
        float: left;
        text-align: center;
        border: solid #fff 3px;
        border-radius: 30px;
        background-color: #009223;
        color: #fff;
        position: absolute;
        bottom: 87px;
        margin-left: 8px;
        text-decoration: none;
        line-height: 37px;
    }

    #slider button a:hover {
        color: #ffce32;
    }

    #slider .round {
        width: 84%;
        height: 113%;
        border-radius: 50%;
        position: absolute;
        top: -98px;
        right: -180px;
        background-image: url(../img/slider.jpg);
    }

    section {
        width: 100%;
        height: 868px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
    }

    section .popular {
        width: 100%;
        height: 7%;

    }

    .popular h1 {
        font-size: 32px;
    }

    .popular p {
        font-size: 36px;
        font-weight: bold;
        color: #ffce32;
        text-align: center;

    }

    /* 버튼슬라이드 */
    #slidewrap {
        width: 100%;
        height: 493px;
        margin: 81px auto;
        position: relative;
        overflow: hidden;
    }

    .slide {
        width: 408%;
    }

    .slide li {
        width: 10.01%;
        height: 100%;
        float: left;
        background: rgb(199, 250, 189);
        padding: 20px;
        margin: 0px 1.15%;
        border-radius: 0 0 60px 0;
        overflow: hidden;
    }

    /* .slide li img {width: 100%; height: 100%;} */

    #slidewrap span{
        position: absolute;
        top: 28%;
        display: block;
        font-size: 23px;
        color: #fff;
        line-height: 39px;
        background: #009223;
        cursor: pointer;
        height: 38px;
        transform: translateY(-50%);
    }

    #slidewrap2 span {
        position: absolute;
        top: 41%;
        display: block;
        font-size: 1px;
        color: #fff;
        line-height: 32px;
        background: #009223;
        cursor: pointer;
        height: 28px;
        transform: translateY(-50%);
    }


    #slidewrap span:hover {
        background: #ffce32;
        color: #000;
    }

    #slidewrap2 span:hover {
        background: #ffce32;
        color: #000;
    }

    .prev {
        left: 0;
        border-radius: 0 10px 10px 0px;
        padding: 0 8px 0 2px;
    }

    .next {
        right: 0;
        border-radius: 10px 0px 0px 10px;
        padding: 0 2px 0 8px;
    }

    .slide li button {
        font-size: 16px;
        width: 170px;
        height: 50px;
        text-align: center;
        border: solid#009223 3px;
        border-radius: 30px;
        background-color: #fff;
        width: 100%;
        height: 14%;
        flex-wrap: revert;
        float: left;
        align-items: center;
        margin-top: 12px;
    }


    .slide li button:hover {
        color: #ffce32
    }

    section .slide li img {
        display: inline-block;
        width: 100%;
        border-radius: 0 0 60px 0;
    }

    section .slide li h3 {
        text-align: center;
        height: 50px;
        font-size: 15px;
    }

    section .slide li p {
        height: 60px;
        margin-top: -17px;

    }

    section h1 {
        text-align: center;
    }



    section p {
        text-align: center;
        font-size: 12px;

    }

    .container {
        text-align: center;
        float: left;
        margin: -64% 0% 0% 6%;
        align-items: center;
    }

    .container p {
        font-size: 28px;
        line-height: 1px;
    }

    .container h2 {
        font-size: 24px;
        line-height: 79px;
    }

    .container span {
        font-size: 13px;
    }

    .container button {
        font-size: 18px;
        width: 143px;
        height: 32px;
        text-align: center;
        border: solid#009223 3px;
        border-radius: 30px;
        background-color: #fff;
    }

    .container button:hover {
        color: #ffce32;
    }

    .explain {
        background-color: honeydew;
        width: 100%;
        height: 574px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .explain1 {
        width: 1200px;
        height: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        overflow: hidden;

    }

    .explain1 p {
        color: #009223;
        font-weight: bold;
        font-size: 27px;
        text-align: center;
        width: 100%;
    }

    .explain1 h2 {
        color: black;
        font-size: 26px;
        text-align: center;
        width: 100%;
        margin-bottom: 83px;
    }

    .gimg {
        width: 118px;
        height: 118px;

        margin-top: -125px;
    }

    .icon {
        width: 30%;
        height: 50%;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
    }

    .icon p {
        color: #009223;
        font-weight: bold;
        font-size: 19px;
        text-align: center;
        height: 57px;
        line-height: 48px;
    }

    .icon span {
        text-align: center;
        font-size: 11px;
        height: 0px;

    }

    .video video {

        width: 100%;
        height: 600px;
        margin: 0px 0px 0px 0px;
    }





    .rbox h2 {
        text-align: center;
        font-size: 28px;
        color: #009223;
    }

    #slidewrap2 {
        width: 100%;
        height: 380px;
        margin: -10px auto;
        position: relative;
        overflow: hidden;
    }

    .slide2 {
        width: 200%;
        height: 342px;
    }

    .slide2 li {
        width: 50%;
        height: 342px;
        float: left;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .slide2 p {
        text-align: center;
        margin: 0px 0px 0px 56px;
        font-size: 12px;
    }

    .review {
        width: 45%;
        height: 125%;
    }

    .slide2 h1 {
        text-align: center;
        margin-top: 100px;
        font-size: 18px;
        margin-left: 9px;
    }

    .slide2 img {
        margin: 38px 0px -27px 7px;
        width: 18%;
    }

    .insta {
        display: flex;
    }

    .insta img{
        width: 100%;
        height: 100%;
    }


    .insta section {
        width: 50%;
        height: 140px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .instalogo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }

    .insta section:hover {
        opacity: 0.7;
    }

    .insta section:hover .instalogo {
        display: block;

    }

}